{% extends 'subway/admin_main.html' %}
{% block content %}
    {% load static %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <i class="glyphicon glyphicon-wrench pull-right"></i>
                <h4>{{ admin.station.name }}역 Landmark Point 목록</h4>
            </div>
        </div>
            <div class="panel-body">
                <div class="control-group">
                    <div class="row">
                        <div class="col-md-4">
                          <!--<a href="/w3images/lights.jpg">-->
                            <div class="caption">
                                 <p>{{ empty_string }}</p>
                            </div>
                            {% if empty_string is None %}
                                {% for landmark in landmark_point_info %}
                                    <img src="{% static 'qrs/' %}{{landmark.qr_file_name}}" alt="{{ landmark.name }}" style="width:100%" />
                                    <div class="caption">
                                      <h4>
                                          <p align="center">
                                              <label>{{ landmark.left }} ← </label>
                                              {{ landmark.id }}. {{ landmark.name }}
                                              <label> → {{ landmark.right }}</label></p>
                                      </h4>
                                    </div>
                                    <hr>
                                {% endfor %}
                            {% endif %}
                          <!--</a>-->
                        </div>
                    </div>
                    <!--<ul class="list-group">-->
                        <!--{% for landmark in landmark_point_info %}-->
                            <!--<li class="list-group-item">{{landmark.name}} <img src="{{landmark.qr}}"/> </li>-->
                        <!--{% endfor %}-->
                    <!--</ul>-->
                    <!--<ol>-->
                        <!--{% for landmark in landmark_point_info %}-->
                            <!--<li>{{landmark.name}}</li>-->
                        <!--{% endfor %}-->
                    <!--</ol>-->
                </div>
            </div>
        <!--/panel content-->
    </div>
{% endblock %}