{% extends 'subway/admin_main.html' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <i class="glyphicon glyphicon-wrench pull-right"></i>
                <h4>Landmark Point 등록하기</h4>
            </div>
        </div>
        <form method="POST" class="post-form" action="/register_page">{% csrf_token %}
            <!--{{ form.as_p }}-->
            <!--<button type="submit" class="btn btn-primary">-->
               <!--등록하기-->
            <!--</button>-->
            <div class="panel-body">
                    <div class="control-group">
                        <label>역명</label>
                        <div class="controls">
                            <input type="text" name="station_name" readonly value="{{ station.name }}">
                        </div>
                    </div>
                    <br/>
                    <div class="control-group">
                        <label>Landmark Point 이름</label>
                        <div class="controls">
                            <input type="text" name="landmark_name">
                        </div>
                    </div>
                    <br/>
                    <div class="control-group">
                        <label>Landmark Point 번호</label>
                        <div class="controls">
                            <input type="text" name="index" readonly value="{{ landmark_cnt }}">
                        </div>
                    </div>
                    <br/>
                    <div class="control-group">
                        <label>왼쪽 상/하행 구분</label>
                        <div class="controls">
                            <input type="radio" checked name="left" value="{{ station.up_station }}-{{ station.down_station }}">
                            <label for="choice1">상행-{{ station.up_station }}</label>
                            <input type="radio" name="left" value="{{ station.down_station }}-{{ station.up_station }}">
                            <label for="choice2">하행-{{ station.down_station }}</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label></label>
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">
                               등록하기
                            </button>
                        </div>
                    </div>
            </div>
        </form>
        <!--/panel content-->
    </div>

{% endblock %}